.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
}

.mat-card-header .mat-card-title{
    font-size: 30px;
    line-height: 100%;
}

.mat-card-header{
    display: block;
}

mat-card-content{
    font-size: medium;
    line-height: 100%;
}

img{
    max-width: 30%;
    max-height: 30%;
}

table{
    overflow: hidden;
}